@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    font-family: "poppins", sans-serif;
}


body{
    background: rgb(35,38,223);
    background: linear-gradient(90deg, rgba(35,38,223,1) 45%, rgba(57,168,186,1) 75%, rgba(52,192,194,1) 95%, rgba(45,232,208,1) 100%);
}
.containerFormulario{
   width: 300px;
   padding: 2rem 1rem;
   margin: 40px auto;
   background-color: #fff; 
   border-radius: 10px;
   text-align: center;
   height: 500px;
}

form input{
    width: 90%;
    outline: none;
    border: 1px solid #fff;
    padding: 11px 15px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e4e4e4;
}
button{
font-size: 1rem;
margin-top: 1.8rem;
padding: 10px 0;
border-radius: 20px;
outline: none;
border: none;
width: 90%;
color:#fff;
cursor: pointer;
background: linear-gradient(to right, #ff9933 0%, #ff0000 100%);
}

button:hover{
    background: rgb(17, 107, 143, 0.0877);

}

.check label{
    font-size: 1rem;
    color:#636363;
}


.member{
    font-size: 1.8rem;
    margin-top: 8rem;
    color:#636363;
    
  
}
.member a{
    color:rgb(17, 107, 143);
    text-decoration: none;
}
h6{
    color:#636363; 
    font-size: 1rem;  
}
